<div class="col-sm-12">
  <h2>Chat</h2>
  <div class="panel panel-default">
    <div class="panel-body chat-body" #chatView>
      <ol class="chat">
        <ng-container *ngFor="let message of messages">
          <li [ngClass]="[message.author._id === currentUser._id? 'self': 'other']" *ngIf="message.author">
            <span class="username">{{message.author.username}}</span>
            <div class="msg">
              <p>{{message.body}}</p>
              <time>{{message.createdAt | date:'medium'}}</time>
            </div>
          </li>
        </ng-container>
      </ol>
    </div>
  </div>
  <form (ngSubmit)="sendMessage(messageContent)">
    <div class="row">
      <div class="col-sm-8 col-md-10">
        <textarea name="message" class="form-control" placeholder="Type here to chat..."
                  [(ngModel)]="messageContent" 
                  (keyup.enter)="sendMessage(messageContent)"
                  (ngModelChange)="keyChange()"
                  (keyup)="keyUp()"
                  (keydown)="keyDown()"></textarea>
        <p *ngFor="let key of objectKeys(status)">{{status[key]?key + ' is typing':''}}</p>
      </div>
      <div class="col-sm-4 col-md-2">
        <button type="submit" class="btn btn-primary btn-block">Send</button>
      </div>
    </div>
  </form>
</div>
