# OS
# ============
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node modules
# ============
client/node_modules/
server/node_modules/

# Yarn errors
client/yarn-error.log
server/yarn-error.log

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
